<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Application</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/homeStyle.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="row h-100">
            <div class="col-3 sidebar">
                <h4>Groups</h4>
            </div>
            <div class="col-9 chat">
                <div class="chat-header">
                    <h4 id="chatName" class="text-center"></h4>
                </div>
                <div class="chat-body">
                </div>
                <div class="chat-footer">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Type a message">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
